* {
    box-sizing: border-box;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 60px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    width: 25%;
}
